
#source {
  flow-into: article;
  /*clear: both;*/
}


.pages{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  width: 595px;
}

.page{
  /*height: 842px;*/
  /*width: 595px;*/
  border:1px solid black;
  margin: 0px;
}

.header{
  height: 140px;
}

.footer{
  height: 140px;
  width: 100%;
}

.page-content {
  flow-from: article;
  height: 600px;
  width: 595px;
  max-width: 595px;
}

