<div class="container">
    <div class="left">
        <div>
            <label for="headerText">HEADER HTML</label>
            <textarea id="headerText" [(ngModel)]="headerHtml" rows="4" cols="50"></textarea>
        </div>
        <br>
        <div>
            <label for="contentText">CONTENT HTML</label>
            <textarea id="contentText" [(ngModel)]="contentHtml" rows="4" cols="50"></textarea>
        </div>
        <br>
        <div>
            <label for="footerText">FOOTER HTML</label>
            <textarea id="footerText" [(ngModel)]="footerHtml" rows="4" cols="50"></textarea>
        </div>
    </div>
    <div class="right">
        <ng-template #header class="header">
            <div [innerHtml]="headerHtml"></div>
        </ng-template>
        <ng-template #footer class="footer">
            <div [innerHtml]="footerHtml"></div>
        </ng-template>
        <app-app-component [header]="header" [footer]="footer">
            <div [innerHtml]="contentHtml"></div>
        </app-app-component>
    </div>
</div>